@use 'variables' as vars;

html, body {
    min-height: 100vh;
    background-image: url("img/PrettyRoom.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow-x: hidden;  // elimina qualunque scroll orizzontale
}



body{
    margin: 0;
    padding: 0;
    background-color: vars.$background1;
    max-width: 100%;
    #cerca{
        background-color: vars.$background2-transparent;
        &:hover{
            transform: scale(1.05);
        }
    }
    #filters{
        background-color: vars.$background2-transparent;
        color: white;
        border-color: white;
        margin-left: -4px;
        &:hover{
            transform: scale(1.05);
        }
    }
    #risultati{
        background-color: rgb(231, 234, 237, 0.8);
        margin: 10px;
        display: flex;
        flex-direction: column;
        border-radius: 0.5%;
        border: 5px solid vars.$background2;
        position: relative;

        #delete_bt{
            position: absolute;
            top: 10px;
            right: 10px;
            &:hover{
                color: vars.$background2;
            }
        }
        #info_icon{
            position: absolute;
            top:8px;
            right:45px;
            font-size: 1.2rem;
            color: vars.$background2-transparent;
            &:hover{
                color:black;
                transform: scale(1.2);
            }
        }
        #info_box{
            position: absolute;
            top:30px;
            right:45px;
            background-color: vars.$background2;
            color: white;
            padding: 5px;
            border-radius: 5px;
            font-size: 0.9rem;
            width: max-content;
            max-width: 200px;
        }
        .div_description{
            display: flex;
            position: relative;
        }

    }

    .book-row {
        display:flex;
        flex-direction: row;
        border-bottom: 1px solid vars.$background2;
        
        
        .inner-row{
            display: flex;
            flex-direction: row;
            gap: 20px;
            justify-content: space-around;
            align-items: center;
            margin: 10px;
            
            a{
                color: vars.$font-color2;
                font-size: vars.$font-sizeh3;
                background-color: transparent;
                text-decoration: underline;
                border: 0px;
                &:hover{
                    color: rgb(2, 2, 31);
                    background-color: transparent;
                }
            }

            h3{
                font-family: vars.$font-text2;
                font-size: vars.$font-sizeh3;
                
            }
            
        }
    }
    .description-box{
    width: 100%;
    margin-top: 0px;
    padding: 8px;
    padding-top: 20px;
    background-color:vars.$background3;
    border-bottom: 1px solid vars.$background2;
    position: relative;
    .desc_title{
        color: vars.$background1;
    }
    .desc_p{
        margin-left: 5px;
        margin-right: 5px;
        font-family: vars.$font-text2;
    }
    #delete_bt-des{
                position: absolute;
                top: 10px;
                right: 10px;
            }
    }
}


body.no-scroll {
    overflow: hidden; // blocca lo scroll verticale e orizzontale
    height: 100vh; // assicura che il body non scrolli
}

.top-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 5vh;
    margin-bottom: 5px;
    margin-top: -15px;
    background-color: vars.$background2;
    
    img{
        padding-top: 1rem;
        height: 100%;
        width: auto;
    }
}


nav {
    padding: 1rem;
    width: 100%;
    display: flex;
    background-color: vars.$background2;
    
    .ham-menu {
        margin-top: 20px;
        margin-left: 10px;;
        height: 30px;
        width: 30px;
        position: relative;

        /*menu ad hamburger prima barra*/
        span {
            height: 5px;
            width: 100%;
            background-color: vars.$background1;
            border-radius: 25px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: .3s ease;

            /*seconda barra*/
            &:nth-child(1) {
                top: 25%;
            }

            &:nth-child(3) {
                top: 75%;
            }
        }

    }
}

/*quando lo attivo il menu*/
/*creao la x ruoto le due barre e nascondo quella in mezzo*/
.ham-menu.active span {
    z-index: 9999;

    


    &:nth-last-child(1) {

        top: 50%;
        transform: translate(-50%, 50%) rotate(45deg);

    }

    &:nth-last-child(2) {
        opacity: 0;

    }

    &:nth-last-child(3) {
        top: 50%;
        transform: translate(-50%, 50%) rotate(-45deg);

    }

}


.off-screen-menu {
    background-color: vars.$background2-transparent;
    height: 100vh;
    width: 50%;
    max-width: 450px;
    position: fixed;
    right: -450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0%;
    font-size: 1.1rem;
    transition: .3s ease;
    text-align: center;
    justify-content: center;
    border: 2px solid vars.$background1;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    z-index: 999;


    h3 a {
        color: vars.$background1;
        text-decoration: double;
        font-family: vars.$font-text2;
        border-bottom: 2px solid vars.$background2;


        &:hover {
            border-bottom: 2px solid vars.$background1;
        }

    }
    .disable{
        color: blue;
        &:hover {
            border-bottom: none;
        }

    }
}
.off-screen-menu.active {
    left: 0;
}

/*section to add-filter*/

#more-filters{
    margin-top: 20px;
    margin: 20px auto; //center horizontally
    margin-bottom: 20px;
    border: 2px solid vars.$background2;
    border-radius: 5px;
    background-color: vars.$background2-transparent;
    color: vars.$background1;
    max-width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    #delete_html_filter{
        position: absolute;
        top: 8px;
        right: 10px;
        
    }

    .in-line {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 15px;
    gap:10px;

    .btn ,.btn-secondary.dropdown-toggle{
        background-color: vars.$background2 !important;
        color: vars.$background1 !important;
        border: 2px solid vars.$background1 !important;

    }

    li{
            margin-bottom: 1px;
            text-align: center;
        }
            #italiano{
            background: linear-gradient(90deg,
                rgb(32, 122, 32),rgb(244, 243, 243),rgb(220, 88, 88)
            );
            margin-top: -6px;
            &:hover{
                background: linear-gradient(90deg,
                rgb(11, 94, 11),rgb(175, 172, 172),rgb(135, 12, 12));
                }
            }
            #francese{
            background: linear-gradient(90deg,
                rgb(14, 34, 112),rgb(244, 243, 243),rgb(220, 88, 88)
            );
            &:hover{
                background: linear-gradient(90deg,
                rgb(4, 17, 68),rgb(175, 172, 172),rgb(135, 12, 12)
            );
            }
        }
        #spagnolo{
            background: linear-gradient(
                rgb(220, 88, 88),rgb(238, 238, 44),rgb(220, 88, 88)
            );
            
            
            &:hover{
                background: linear-gradient(
                rgb(135, 12, 12),rgb(222, 222, 9),rgb(135, 12, 12)
            );
            }
        }
        #inglese{
            background: linear-gradient(90deg,
                rgb(14, 34, 112),rgb(220, 88, 88),rgb(244, 243, 243)
            );
            &:hover{
                background: linear-gradient(90deg,
                rgb(4, 17, 68),rgb(135, 12, 12),rgb(175, 172, 172)
            );
            }
        }
        #tutte{
            background:rgb(244, 243, 243);
            margin-bottom: -6px;
            &:hover{
                background:rgb(175, 172, 172);

            }
        }  


}


}

