@use 'variables' as vars;

body{
    margin: 0;
    padding: 0;
    background-color: vars.$background1;
}

.container {
    display: flex;
    background-color: vars.$background2-transparent;
    padding: 1rem;
    height: 40vh;
}

.InlineCenter{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


hr{
    border: none;
    height: 4px;
    background-color: vars.$background2;
    margin-top: 2rem;
    margin-bottom: 2rem;

}

body.no-scroll {
    overflow: hidden; // blocca lo scroll verticale e orizzontale
    height: 100vh; // assicura che il body non scrolli
    margin-right: 2.2%; // evita il salto orizzontale quando la barra di scorrimento scompare
}

.top-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 5vh;
    margin-bottom: 5px;
    margin-top: -15px;
    background-color: vars.$background2;
    
    img{
        padding-top: 1rem;
        height: 100%;
        width: auto;
    }
}


nav {
    padding: 1rem;
    display: flex;
    background-color: vars.$background2;
    margin: 2px;

    .ham-menu {
        height: 30px;
        width: 30px;
        position: relative;

        /*menu ad hamburger prima barra*/
        span {
            height: 5px;
            width: 100%;
            background-color: vars.$background1;
            border-radius: 25px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: .3s ease;

            /*seconda barra*/
            &:nth-child(1) {
                top: 25%;
            }

            &:nth-child(3) {
                top: 75%;
            }
        }

    }
}

/*quando lo attivo il menu*/
/*creao la x ruoto le due barre e nascondo quella in mezzo*/
.ham-menu.active span {



    &:nth-last-child(1) {

        top: 50%;
        transform: translate(-50%, 50%) rotate(45deg);

    }

    &:nth-last-child(2) {
        opacity: 0;

    }

    &:nth-last-child(3) {
        top: 50%;
        transform: translate(-50%, 50%) rotate(-45deg);

    }

}


.off-screen-menu {
    background-color: vars.$background2-transparent;
    height: 100vh;
    width: 50%;
    max-width: 450px;
    position: fixed;
    right: -450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0%;
    font-size: 1.1rem;
    transition: .3s ease;
    text-align: center;
    justify-content: center;
    border: 2px solid vars.$background1;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);


    h3 a {
        color: vars.$background1;
        text-decoration: double;
        font-family: vars.$font-text2;
        border-bottom: 2px solid vars.$background2;


        &:hover {
            border-bottom: 2px solid vars.$background1;
        }

    }
}


.off-screen-menu.active {
    left: 0;
}


/*first page section*/
#firstPage{
    margin: 0%;
    padding: 0%;
    height: 100vh;
    display: flex;
    justify-content:space-between;
    gap: 30px;

    #firstLeft{
        img{
            margin-top: -0.5%;
            height: 75vh;
            width: 45vh;
            margin-left: 2rem;
            margin-left:0%;
        }
    }
    #firstRight{
        margin-right: 2rem;
        h1,h2{
            color: vars.$font-color2;
            font-family: vars.$font-text1;
            text-align: center;
        }
        h1 {
                font-size: vars.$font-sizeh1;
                text-decoration: underline;
                color: vars.$font-color2;

            }
        h2 {
                    font-size: vars.$font-sizeh2;
            }

        #insideFirstRight{
            background-color: vars.$background2-transparent;
            margin-right:-20%;
            padding: 0%;
            margin-left: 15%;
            margin-top: 10%;

            p {
                    font-size: vars.$font-sizep;
                    color: vars.$font-color1;
                    font-size: vars.$font-sizeh3;
                    font-family: vars.$font-text2;
                    margin-top: -1rem;
                    padding: 8%;
                    text-align: right;
                    margin-right: 10%;
                }
        }   
        #SecondInsideFirstRight{
            margin-top:2%;
            p{
                color: vars.$font-color2;
                font-size: vars.$font-sizeh3;
                font-family: vars.$font-text2;
            }
            img{
                height: 8vh;
                width: auto;
                margin-top: 1rem;
            }
        }
    }
    hr{
        margin-right: 0%;
        margin-left: 0%;
        padding: 0%;
        width: 100%;
    }
}
/*Second page section 
section about us*/
.SecondPage{
    margin-top: -15%;
    border: solid 2px vars.$background2;

    #titleDiv {
            padding: 0;
    
            hr {
                flex: 1;
                margin: 0 20px;
            }
    
            h1 {
                color: vars.$font-color2;
                font-family: vars.$font-text1;
            }
        }
    
        .container-aboutus {
            display: flex;
            justify-content: space-around;
            gap: 20px;
            padding-top: 3rem;
            padding: 0;
            //to move the children without compress them
            align-items: flex-start;
    
            .container {

                &:first-child {
                        margin-top: 10px;
                }
                
                &:nth-child(2) {
                        margin-top: 30px;
                }

                &:nth-child(3) {
                        margin-top: 60px;
                        margin-bottom: 30px;
                }
    
                p {
                    color: vars.$font-color1;
    
                    &:first-child {
                        text-align: left;
                        margin-right: 10%;
                    }
    
                    &:last-child {
                        text-align: right;
                        margin-left: 10%
                    }
                }
            
            }
    
            #handsImg,
            #girlRead {
                width: 25vh;
                height: auto;
            }
        }
}


/*last page section*/
#thirtPage{
    margin-top: 2px;
    padding: 0%;
    height: 100vh;
    margin-left: 10px;
    margin-right: 10px;
    h1{
        color: vars.$font-color2;
        font-family: vars.$font-text1;
        text-align: center;
        font-size: vars.$font-sizeh1;
    }
    #title-thirtPage{
        margin-top: 5%;
        justify-content: space-around;

        h3{
            color: vars.$font-color2;
            font-family: vars.$font-text2;
            font-size: vars.$font-sizeh2;
        }
        img{
            height: 10vh;
        }
    }
    .InlineCenter{
        gap: 30px;

        .Sectionh3{
            gap:1px;
            margin-left:-8%;
        }

        p{
            margin-right:10px;
            margin-left: 10px;
            color: vars.$font-color1;
            font-size: vars.$font-sizeh3;
            text-align: left;
        }

        a{
            color:vars.$font-color1;
            text-align: end;
            &:hover{
                color: vars.$background2-transparent;
            }
        }


    }
}