//menu standard
@use 'variables' as vars;

#header{
    position: fixed;
    top:0;
    right:0;
    width: 100%;
    z-index: 1000;
}
nav {
    padding: 1rem;
    width: 100%;
    display: flex;
    background-color: vars.$background2;

    .ham-menu {
        margin-top: 20px;
        margin-left: 10px;
        ;
        height: 30px;
        width: 30px;
        position: relative;

        /* hamburger menu first bar*/
        span {
            height: 5px;
            width: 100%;
            background-color: vars.$background1;
            border-radius: 25px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: .3s ease;

            /*second bar*/
            &:nth-child(1) {
                top: 25%;
            }

            &:nth-child(3) {
                top: 75%;
            }
        }
    }
}

/*active menu*/
/*create x with bars*/
.ham-menu.active span {
    &:nth-last-child(1) {
        top: 50%;
        transform: translate(-50%, 50%) rotate(45deg);
    }

    &:nth-last-child(2) {
        opacity: 0;
    }

    &:nth-last-child(3) {
        top: 50%;
        transform: translate(-50%, 50%) rotate(-45deg);
    }
}


.off-screen-menu {
    background-color: vars.$background2-transparent;
    height: 100vh;
    width: 50%;
    max-width: 450px;
    position: fixed;
    right: -450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0%;
    font-size: 1.1rem;
    transition: .3s ease;
    text-align: center;
    justify-content: center;
    border: 2px solid vars.$background1;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);

    h3 a {
        color: vars.$background1;
        text-decoration: double;
        font-family: vars.$font-text2;
        border-bottom: 2px solid vars.$background2;

        &:hover {
            border-bottom: 2px solid vars.$background1;
        }
    }

    .disable {
        color: blue;

        &:hover {
            border-bottom: none;
        }
    }
}


.off-screen-menu.active {
    left: 0;
}