$background1: #ffff;
$background2: #004aad;
$background3:rgb(221, 231, 237);
$background2-transparent: rgba(0, 74, 173, 0.8);
$font-color1: #fff;
$font-color2: #004aad;
$font-sizeh1: 2.5rem;
$font-sizeh2: 1.8rem; 
$font-sizeh3: 1rem;
$font-sizep: 0.5rem;
$font-text1:'Lucida Sans', ' Lucida Sans Regular', ' Lucida Grande', ' Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$font-text2: 'Arial', ' Helvetica ', sans-serif;

